<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solo.project.domain.BoardMapper">
	<insert id="create">
	INERT INTO tbl_board (title, content, writer)
	VALUES(#{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="com.sample.domain.BoardVO">
	SELECT
		bno, title, content, witer, regdate, viewcnt
	FROM
		tbl_board
		wgere bno = #{bno}
	</select>
	
	<update id="update">
	UPDATE tbl_board set title =#{title}, content =#{content}
	where bno =#{bno}
	</update>
	
	<delete id="delete">
	delete from tbl_board wgere bno = #{bno}
	</delete>
	
</mapper>